<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center"> Time to start a workout! </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-select placeholder="">
        <mat-option *ngFor="let food of foods" [value]="food.label">
          {{ food.label }}
        </mat-option>
      </mat-select>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center"> <button type="submit" mat-raised-button color="primary" (click)="onStartTraining()">START</button> </mat-card-actions>
  </mat-card>
</section>
