<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onSidenavToggle()" mat-icon-button>
      <mat-icon> menu </mat-icon>
    </button>
  </div>
  <div><a routerLink="/">NG Fitness</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Signin</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth">
        <a routerLink="/logout" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
